@page
@model WebApplication6.Pages.RulesModel
@{
    var rules = HttpContext.Session.GetString("rules");
    string[] rulesSplit = new string[0];
    if (rules != null)
    {
        rulesSplit = rules.Split(';');
    }
    else
    {
        HttpContext.Session.SetString("rules", "");
        rulesSplit = new string[0];
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ASP.NET</title>
</head>
<body>
    <form action="~/RulesRedirect" method="POST">
        <input type="text" name="rule"/>
        <input type="submit"/>
    </form>

    <ol>
        @foreach (var rule in rulesSplit)
        {
            @if (rule.Length != 0)
            {
                <li>@rule</li>
            }
        }
    </ol>
</body>
</html>